/* Google fonts */

/* font-family: 'Audiowide', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Aldrich', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/genji-theatrical-wide.jpg);
    background-size: cover;
}

.navbar {

}

.navbar p {
    color:#FF7C2D;
    font-size: 32px;
    align-self: center;
    font-family: 'Press Start 2P', cursive;
}

.navbar img {
    width: 30px; 
    height: 30px;
    border-radius: 7%;
}

.jumbotron {
    background-color: #262626;
    width: 90%;
    height: 600px;
    position: relative;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
    margin-top: 100px;
    opacity: 0.85;
}

.jumbotron button {
    background-color: #FF7C2D;
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}
