/* Google fonts */

/* font-family: 'Audiowide', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Aldrich', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/genji-theatrical-wide.jpg);
    background-size: cover;
}

/* navbar stylings */

.navbar {
    height: 75px;
}

.wrapper {
    height: 90px;
}

.navbar p {
    color:#FF7C2D;
    font-size: 32px;
    font-family: 'Press Start 2P', cursive;
    padding-right: 70px;
    padding-top: 16px;
}

.navbar img {
    width: 30px; 
    height: 30px;
    border-radius: 100%;
}

/* main content/jumbotron styling */

.jumbotron {
    background-color: rgb(38, 38, 38);
    background-color: rgba(38, 38, 38, 0.85);
    width: 90%;
    height: 650px;
    position: relative;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
    margin-top: 100px;
}

#begin {
    background-color: #FF7C2D;
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    margin-top: -22px;
}

#tryAgain {
    background-color: #FF7C2D;
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    margin-top: 25px;
}

.container {
    margin-top: 15px;
}

.zenOpener {
    border-radius: 25%;
    width: 35%;
    height: auto;
    margin-top: -50px;
}

h1 {
    color: white;
    font-family: 'Aldrich', sans-serif;
}

.display-4 {
    font-size: 36px;
}

#answersDisplay {
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: 26px;
    margin-top: 45px;
}

.choice {
    padding: 12px;
    margin: 20px;
    border-radius: 2%;
    width: 20%;
    text-align: center;
    background: #FF7C2d;
    color: black;
    border: 1px black;
}

/* stylings for my timer and gifs  */

#timer p {
    font-size: 42px;
    font-family: 'Press Start 2P', cursive;
    color: #FF7C2D;
    padding-top: 25px;
}

#answersDisplay img {
    width: 45%;
    height: auto;
}



/* a couple media queries for responsiveness */

@media only screen and (max-width:768px) {

    .display-4 {
        font-size: 30px;
    }
    
    .navbar p {
        font-size: 26px;
        padding-right: 25px;
    }
    
}

@media only screen and (max-width:640px) {

    .display-4 {
        font-size: 24px;
    }

    .navbar p {
        font-size: 22px;
        padding-right: 0px;
    }

    #answersDisplay {
        font-size: 20px;
    }
     
}